<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="Sonrisa-Roja.ico">
    <title>Portal_de_Transformación</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body class="container" style="background-color:rgb(239, 239, 241);"> 
    <header>
        <H1 class="display-5 text-center text-danger bg-white" style="border-radius: 10px;"> 
            <strong>
                ¡¡¡BIENVENIDO A NUESTRO PORTAL DE BASES MARCADAS!!!
            </strong>
        </H1>
    </header>
    <hr>
    <section id="section_Metlife">
        <a href="/metlife_base_marcada/logout" class="btn bg-primary p-2 m-3 text-white">
            <i class="fa fa-sign-out" aria-hidden="true">
            </i>
            SALIR
        </a>
        <table class="mx-auto" style="border-radius: 10px; background:white; border-width: 5px;">
            <tr>
                <form action="/metlife_base_marcada/redireccion_archivo_prejuridico" method="POST" enctype="multipart/form-data" id="Metlife_form_BD_principal">
                    <td>
                        <label for="file1" id="Metlife_label_cargue_a_Bi-Archivos_BD_principal" class="btn btn-primary btn-lg text-center p-2 m-3 text-white">
                            &nbsp;
                            &nbsp;
                            <i class="fa fa-file-excel-o" aria-hidden="true">
                            </i>
                            &nbsp;
                                Selecciona Archivo Base  <!--En a había antes label, sino me sirve la conexión con el input debo reversar-->
                        </label>
                    </td>
                    <td>
                        <input type="file" name="file" id="file1" class="d-none" />
                    </td>
                    <td>
                        <i class="fa fa-arrow-right" aria-hidden="true">
                        </i>
                        <input type="submit" value="Upload" id="Metlife_boton_cargue_a_Bi-Archivos_BD_principal" class="btn btn-primary btn-lg p-2 m-3" />        
                    </td>
                </form>
            </tr>
            <tr> 
                <!-- <td>    
                </td> -->
                <td>
                    <!-- <a href="http://localhost:5000/metlife/Metlife_BM_Base" id="Metlife_URL_cargue_a_Bigquery_BD_principal" target="_blank" style="text-decoration: none" class="btn btn-primary btn-lg d-block text-center p-2 m-3 text-white"> -->
                    <a href="http://35.239.77.81:5000/metlife/Metlife_BM_Base" id="Metlife_URL_cargue_a_Bigquery_BD_principal" target="_blank" style="text-decoration: none" class="btn btn-primary btn-lg d-block pr-5 m-3 text-white">
                        &nbsp;
                        &nbsp;
                        <i class="fa fa-puzzle-piece" aria-hidden="true">
                        </i>
                        &nbsp;
                            Agregar Campos Calculados
                    </a>
                </td>
            </tr>
            <tr> 
                <!-- <td>
                </td> -->
                <td>
                    <!-- <a href="http://localhost:5000/metlife/Metlife_BM_descarga_Base" id="Metlife_URL_descargue_desde_Bigquery_BD_calculada" target="_blank" style="text-decoration: none" class="btn btn-primary btn-lg d-block text-center p-2 m-3 text-white"> -->
                    <a href="http://35.239.77.81:5000/metlife/Metlife_BM_descarga_Base" id="Metlife_URL_descargue_desde_Bigquery_BD_calculada" target="_blank" style="text-decoration: none" class="btn btn-primary btn-lg pr-5 d-block m-3 text-white">
                        <i class="fa fa-cloud-download" aria-hidden="true">
                        </i>
                        &nbsp;
                            Descargar Base Calculada
                    </a>
                </td>
            </tr>  
            <tr> 
                <!-- <td>
                </td> -->
                <td>
                    <!-- <a href="http://localhost:5000/metlife/Metlife_BM_descarga_Base_Novedades" id="Metlife_URL_descargue_desde_Bigquery_BD_calculada" target="_blank" style="text-decoration: none" class="btn btn-primary btn-lg d-block text-center p-2 m-3 text-white"> -->
                    <a href="http://35.239.77.81:5000/metlife/Metlife_BM_descarga_Base_Novedades" id="Metlife_URL_descargue_desde_Bigquery_BD_calculada" target="_blank" style="text-decoration: none" class="btn btn-primary btn-lg d-block text-center p-2 m-3 text-white">
                        &nbsp;
                        &nbsp;
                        <i class="fa fa-cloud-download" aria-hidden="true">
                        </i>
                        &nbsp;
                            Descargar Base Con Novedades
                    </a>
                </td>
            </tr>
        </table>
    </section>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
</body>
</html>