<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/myStyle.css') }}">
    <title>Cargue Insumos</title>
    <!-- <style>
        div {background-image: url("{{ url_for('static', filename='images/fondo_1.jpg') }}");}
    </style> -->
</head>
<body>    
    <p>
        <br>
        Hola {{ the_name }}, Selecciona el tipo de Archivo que deseas Cargar:
    </p>
    
    <div class="myDiv">   
        <a class="myA" href="cargar_agentes">Agentes</a>
        <button class="button_1"><a href="cargar_ajustes">Ajustes</a></button>
        <!-- <button><a href="cargar_ceco">CeCo</a></button> -->
        <a class="myA" href="cargar_ceco">CeCo</a>
        <button><a href="cargar_ofima">Ofima</a></button>
        <!-- <button><a href="cargar_puc">PUC</a></button>         -->
        <a class="myA" href="cargar_puc">PUC</a>        
        <button><a href="cargar_puestos">Puestos</a></button>   
    </div>
    <!-- <img src="{{ url_for('static', filename='images/fondo_1.jpg') }}" alt="{{ the_name }}"> -->
</body>
</html>