<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cargue Insumos</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="http://contentobi.contentobps.com/new_static/css/demo.css">
    <link rel="stylesheet" href="http://contentobi.contentobps.com/new_static/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Terminal+Dosis' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <style> .myCenter { margin:auto; width: 71%; /* border: 3px solid red; */ /* display: flex; */ /* justify-content:space-around; */ } </style>
</head>

<body>
    <div class="container">
        <h1>Bases Insumo - Bancolombia Castigada<span>Bussines Intelligence</span><span>Contento BPS</span></h1>
        <p>A continuación selecciona el tipo de base que deseas actualizar a partir de archivo:</p>
        <div class="myCenter">
            <ul class="ca-menu">
                <li>
                    <a href="cargar_bancolombia_castigada/Debitos" target="_blank">
                        <span class="ca-icon"><i class="fas fa-piggy-bank"></i></span>
                        <div class="ca-content">
                            <h2 class="ca-main">Débitos</h2>
                            <h3 class="ca-sub">Base debitos automáticos</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="cargar_bancolombia_castigada/Pagos" target="_blank">
                        <span class="ca-icon"><i class="fas fa-dollar-sign"></i></span>                        
                        <div class="ca-content">
                            <h2 class="ca-main">Pagos</h2>
                            <h3 class="ca-sub">Sábana de pagos</h3>
                        </div>
                    </a>
                </li>                           
                <li>
                    <a href="cargar_bancolombia_castigada/Estado Cartera" target="_blank">
                        <span class="ca-icon"><i class="fas fa-database"></i></span>                        
                        <div class="ca-content">
                            <h2 class="ca-main">Estado Cartera</h2>
                            <h3 class="ca-sub">Informe prejurídico</h3>
                        </div>
                    </a>
                </li>                
                <li>
                    <a href="cargar_bancolombia_castigada/Seguimiento" target="_blank">
                        <span class="ca-icon"><i class="fas fa-blender-phone"></i></span>                        
                        <div class="ca-content">
                            <h2 class="ca-main">Seguimiento</h2>
                            <h3 class="ca-sub">Resumen de gestiones</h3>
                        </div>
                    </a>
                </li>                
                <li>
                    <a href="https://datastudio.google.com/u/0/reporting/803895ce-4fde-4fb9-95dc-1e9439c41fbc/page/F0kGB" target="_blank">
                        <span class="ca-icon"><i class="fas fa-download"></i></span>                        
                        <div class="ca-content">
                            <h2 class="ca-main">Resultado</h2>
                            <h3 class="ca-sub">Cruce exportable</h3>
                        </div>
                    </a>
                </li>                
            </ul>
        </div>
    </div>
    <div class="center"><img class="logo-contento" src="http://contentobi.contentobps.com/new_static/images/Logo-Contento-BPS-.png" alt=""></div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
</body>

</html>