<!DOCTYPE html>
<HTML>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta charset="UTF-8">
        <title>
            Controlador de Campañas
        </title>
    </head>
    <body>
        
        <h1> 
            Cargar Información desde la API
        </H1>     
        <br>
        <br>
        <div class="container-fluid">
            <form name="passdata"  method="POST" action="procesador">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label> <b>Operación</b> </label>
                        <select class="form-control mb-6" name="operacion">
                            <option disabled selected> Seleccione la operación </option>
                            <option value = 'intcob-adein-cob-juridica'>intcob-adein-cob-juridica</option>
                            <option value = 'intcob-adeinco-contact'>intcob-adeinco-contact</option>
                            <option value = 'intcob-agaval-castigada'>intcob-agaval-castigada</option>
                            <option value = 'intcob-auteco-out'>intcob-auteco-out</option>
                            <option value = 'intcob-auteco-sac'>intcob-auteco-sac</option>
                            <option value = 'intcob-auteco-web-call-back'>intcob-auteco-web-call-back</option>
                            <option value = 'intcob-autotecnica'>intcob-autotecnica</option>
                            <option value = 'intcob-aval-cob'>intcob-aval-cob</option>
                            <option value = 'intcob-ban-adm-inh'>intcob-ban-adm-inh</option>
                            <option value = 'intcob-bancamia-adm'>intcob-bancamia-adm</option>
                            <option value = 'intcob-bancamia-castigada'>intcob-bancamia-castigada</option>
                            <option value = 'intcob-banco-bajmon-med'>intcob-banco-bajmon-med</option>
                            <option value = 'intcob-banco-castigada'>intcob-banco-castigada</option>
                            <option value = 'intcob-banco-castigada-pymes'>intcob-banco-castigada-pymes</option>
                            <option value = 'intcob-banco-consumo'>intcob-banco-consumo</option>
                            <option value = 'intcob-banco-hipo'>intcob-banco-hipo</option>
                            <option value = 'intcob-banco-rediferidos'>intcob-banco-rediferidos</option>
                            <option value = 'intcob-banco-sufi-cast'>intcob-banco-sufi-cast</option>
                            <option value = 'intcob-ban-mi-negocio'>intcob-ban-mi-negocio</option>
                            <option value = 'intcob-ban-sufi'>intcob-ban-sufi</option>
                            <option value = 'intcob-bps-ant'>intcob-bps-ant</option>
                            <option value = 'intcob-cival'>intcob-cival</option>
                            <option value = 'intcob-civita'>intcob-civita</option>
                            <option value = 'intcob-clinic-orlant'>intcob-clinic-orlant</option>
                            <option value = 'intcob-colsubsidio'>intcob-colsubsidio</option>
                            <option value = 'intcob-cotrafa-cobranza'>intcob-cotrafa-cobranza</option>
                            <option value = 'intcob-crediorbe-admin'>intcob-crediorbe-admin</option>
                            <option value = 'intcob-crediorbe-sac'>intcob-crediorbe-sac</option>
                            <option value = 'intcob-epm'>intcob-epm</option>
                            <option value = 'intcob-fanalca-agendamiento'>intcob-fanalca-agendamiento</option>
                            <option value = 'intcob-fanalca-honda-autos'>intcob-fanalca-honda-autos</option>
                            <option value = 'intcob-fotomultas'>intcob-fotomultas</option>
                            <option value = 'intcob-hermeco'>intcob-hermeco</option>
                            <option value = 'intcob-hermeco-venta-dir'>intcob-hermeco-venta-dir</option>
                            <option value = 'intcob-hermeco-ventas'>intcob-hermeco-ventas</option>
                            <option value = 'intcob-honda-creditos'>intcob-honda-creditos</option>
                            <option value = 'intcob-javeriana'>intcob-javeriana</option>
                            <option value = 'intcob-javesalud'>intcob-javesalud</option>
                            <option value = 'intcob-leonisa'>intcob-leonisa</option>
                            <option value = 'intcob-linea-directa-adm'>intcob-linea-directa-adm</option>
                            <option value = 'intcob-linea-direct-fabrica'>intcob-linea-direct-fabrica</option>
                            <option value = 'intcob-mesa-ayuda'>intcob-mesa-ayuda</option>
                            <option value = 'intcob-metlife'>intcob-metlife</option>
                            <option value = 'intcob-mitsubishi'>intcob-mitsubishi</option>
                            <option value = 'intcob-neurologico-ant'>intcob-neurologico-ant</option>
                            <option value = 'intcob-rappi-reactivaciones'>intcob-rappi-reactivaciones</option>
                            <option value = 'intcob-refinancia-bps'>intcob-refinancia-bps</option>
                            <option value = 'intcob-serfinanza'>intcob-serfinanza</option>
                            <option value = 'intcob-serfinanza'>intcob-serfinanza</option>
                            <option value = 'intcob-serfinanza-stock'>intcob-serfinanza-stock</option>
                            <option value = 'intcob-upb'>intcob-upb</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label> <b>Tipo Campaña</b> </label>
                        <select class="form-control mb-6" name="tipo_campana">
                                <option disabled selected> Seleccione el tipo de campaña </option>
                                <option value = "preview"> preview </option>
                                <option value = "predictive"> predictive </option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="inputZip"><b>id_campana</b></label>
                        <input type="number" class="form-control" name="id_campana">
                    </div>
                    <div class="form-group col-md-5">
                        <label><b>Fecha Montaje de la campaña</b></label>
                        <input type="date" class="form-control" name="dateini">
                    </div>
                    <div class="form-group col-md-5">
                        <label><b>Fecha Cierre de la campaña</b></label>
                        <input type="date" class="form-control" name="dateend">
                    </div>
                </div>
                <br>
                <div class="float-left">
                    <button type="submit" class="btn btn-primary mb-2">Confirmar</button>
                </div>
            </form>
        </div>
    </body>
</HTML>