<!DOCTYPE html>
<HTML>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta charset="UTF-8">
        <title>
            Controlador de Campañas
        </title>
    </head>
    <body>        
        <br>
        <div class="container-fluid">
            <form name="passdata"  method="POST" action="procesador">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label> <b>Operación</b> </label>
                        <select class="form-control mb-6" name="operacion">
                                <option disabled selected> Seleccione la operación </option>
                            {% for a in x %}
                                <option value = {{a}}> {{a}} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label> <b>Tipo Campaña</b> </label>
                        <select class="form-control mb-6" name="tipo_campana">
                                <option disabled selected> Seleccione el tipo de campaña </option>
                                <option value = "preview"> preview </option>
                                <option value = "predictive"> predictive </option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="inputZip"><b>id_campana</b></label>
                        <input type="number" class="form-control" name="id_campana">
                    </div>
                    <div class="form-group col-md-5">
                        <label><b>Fecha Montaje de la campaña</b></label>
                        <input type="date" class="form-control" name="dateini">
                    </div>
                    <div class="form-group col-md-5">
                        <label><b>Fecha Cierre de la campaña</b></label>
                        <input type="date" class="form-control" name="dateend">
                    </div>
                </div>
                <br>
                <div class="float-left">
                    <button type="submit" class="btn btn-primary mb-2">Confirmar</button>
                </div>
            </form>
        </div>
    </body>
</HTML>