<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cargue Insumos</title>
        <meta charset="UTF-8" />                
        <link rel="stylesheet" href="{{ url_for('static', filename='css/demo.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link href='http://fonts.googleapis.com/css?family=Terminal+Dosis' rel='stylesheet' type='text/css' />
    </head>
    <body>
        <div class="container">
            <h1>Bases Insumo - Informe PyG<span>Bussines Intelligence</span><span>Contento BPS</span></h1>
            <p>A continuación selecciona el tipo de base que deseas actualizar a partir de archivo:</p>
            <div class="content">
                <ul class="ca-menu">
                    <li>
                        <a href="cargar_agentes" target="_blank">
                            <span class="ca-icon">A</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Agentes</h2>
                                <h3 class="ca-sub">Agentes por centro de costos</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="cargar_ajustes" target="_blank">
                            <span class="ca-icon">A</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Ajustes</h2>
                                <h3 class="ca-sub">Asientos para verticalización montos</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="cargar_ceco" target="_blank">
                            <span class="ca-icon">A</span>
                            <div class="ca-content">
                                <h2 class="ca-main">CeCo</h2>
                                <h3 class="ca-sub">Centros de costos</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="cargar_ofima" target="_blank">
                            <span class="ca-icon">A</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Ofima</h2>
                                <h3 class="ca-sub">Rubros detallados por cuenta</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="cargar_puc" target="_blank">
                            <span class="ca-icon">A</span>
                            <div class="ca-content">
                                <h2 class="ca-main">PUC</h2>
                                <h3 class="ca-sub">Plan único de cuentas</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="cargar_puestos" target="_blank">
                            <span class="ca-icon">A</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Puestos</h2>
                                <h3 class="ca-sub">Puestos por centro de costos</h3>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="center"><img class="logo-contento" src="/images/Logo-Contento-BPS-.png" alt=""></div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    </body>
</html>